In [1]:
import seaborn as sns
import pandas as pd
import numpy as np

from datetime import datetime

!pip install pandas geopandas shapely


from sklearn.datasets import load_iris, fetch_california_housing
import matplotlib.pyplot as plt

from sklearn.neighbors import KNeighborsClassifier, KNeighborsRegressor
from sklearn.linear_model import LinearRegression, LogisticRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import BaggingRegressor, RandomForestRegressor,AdaBoostRegressor, GradientBoostingRegressor

from sklearn.model_selection import train_test_split

from imblearn.over_sampling import SMOTE
!pip install imbalanced-learn

from sklearn.metrics import mean_squared_error, mean_absolute_error

from sklearn.preprocessing import MinMaxScaler, StandardScaler

Requirement already satisfied: pandas in c:\users\ramya\anaconda3\lib\site-packages (1.4.4)
Requirement already satisfied: geopandas in c:\users\ramya\anaconda3\lib\site-packages (0.14.4)
Requirement already satisfied: shapely in c:\users\ramya\anaconda3\lib\site-packages (2.0.4)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\ramya\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.18.5 in c:\users\ramya\anaconda3\lib\site-packages (from pandas) (1.24.4)
Requirement already satisfied: pytz>=2020.1 in c:\users\ramya\anaconda3\lib\site-packages (from pandas) (2022.1)
Requirement already satisfied: pyproj>=3.3.0 in c:\users\ramya\anaconda3\lib\site-packages (from geopandas) (3.6.1)
Requirement already satisfied: fiona>=1.8.21 in c:\users\ramya\anaconda3\lib\site-packages (from geopandas) (1.9.6)
Requirement already satisfied: packaging in c:\users\ramya\anaconda3\lib\site-packages (from geopandas) (21.3)
Requirement already satisfied: attrs>=19.2.0 in c:\users\ramya\anaconda3\lib\site-packages (from fiona>=1.8.21->geopandas) (21.4.0)
Requirement already satisfied: six in c:\users\ramya\anaconda3\lib\site-packages (from fiona>=1.8.21->geopandas) (1.16.0)
Requirement already satisfied: importlib-metadata in c:\users\ramya\anaconda3\lib\site-packages (from fiona>=1.8.21->geopandas) (4.11.3)
Requirement already satisfied: certifi in c:\users\ramya\anaconda3\lib\site-packages (from fiona>=1.8.21->geopandas) (2024.2.2)
Requirement already satisfied: click-plugins>=1.0 in c:\users\ramya\anaconda3\lib\site-packages (from fiona>=1.8.21->geopandas) (1.1.1)
Requirement already satisfied: cligj>=0.5 in c:\users\ramya\anaconda3\lib\site-packages (from fiona>=1.8.21->geopandas) (0.7.2)
Requirement already satisfied: click~=8.0 in c:\users\ramya\anaconda3\lib\site-packages (from fiona>=1.8.21->geopandas) (8.0.4)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\users\ramya\anaconda3\lib\site-packages (from packaging->geopandas) (3.0.9)
Requirement already satisfied: colorama in c:\users\ramya\anaconda3\lib\site-packages (from click~=8.0->fiona>=1.8.21->geopandas) (0.4.5)
Requirement already satisfied: zipp>=0.5 in c:\users\ramya\anaconda3\lib\site-packages (from importlib-metadata->fiona>=1.8.21->geopandas) (3.8.0)
Requirement already satisfied: imbalanced-learn in c:\users\ramya\anaconda3\lib\site-packages (0.12.2)
Requirement already satisfied: numpy>=1.17.3 in c:\users\ramya\anaconda3\lib\site-packages (from imbalanced-learn) (1.24.4)
Requirement already satisfied: scikit-learn>=1.0.2 in c:\users\ramya\anaconda3\lib\site-packages (from imbalanced-learn) (1.0.2)
Requirement already satisfied: joblib>=1.1.1 in c:\users\ramya\anaconda3\lib\site-packages (from imbalanced-learn) (1.4.2)
Requirement already satisfied: scipy>=1.5.0 in c:\users\ramya\anaconda3\lib\site-packages (from imbalanced-learn) (1.9.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\ramya\anaconda3\lib\site-packages (from imbalanced-learn) (2.2.0)

In [2]:
path_1 = "E:\\BootCamp_Project\\202301-divvy-tripdata.csv"
path_2 = "E:\\BootCamp_Project\\202302-divvy-tripdata.csv"
path_3 = "E:\\BootCamp_Project\\202303-divvy-tripdata.csv"
path_4 = "E:\\BootCamp_Project\\202304-divvy-tripdata.csv"
path_5 = "E:\\BootCamp_Project\\202305-divvy-tripdata.csv"
path_6 = "E:\\BootCamp_Project\\202306-divvy-tripdata.csv"
path_7 = "E:\\BootCamp_Project\\202307-divvy-tripdata.csv"
path_8 = "E:\\BootCamp_Project\\202308-divvy-tripdata.csv"
path_9 = "E:\\BootCamp_Project\\202309-divvy-tripdata.csv"
path_10 = "E:\\BootCamp_Project\\202310-divvy-tripdata.csv"
path_11 = "E:\\BootCamp_Project\\202311-divvy-tripdata.csv"
path_12 = "E:\\BootCamp_Project\\202312-divvy-tripdata.csv"

In [3]:
df_1 = pd.read_csv(path_1)
df_2 = pd.read_csv(path_2)
df_3 = pd.read_csv(path_3)

In [4]:
df_4 = pd.read_csv(path_4)
df_5 = pd.read_csv(path_5)
df_6 = pd.read_csv(path_6)

In [5]:
df_7 = pd.read_csv(path_7)
df_8 = pd.read_csv(path_8)
df_9 = pd.read_csv(path_9)

In [6]:
df_10 = pd.read_csv(path_10)
df_11 = pd.read_csv(path_11)
df_12 = pd.read_csv(path_12)

In [ ]:
df_1

In [ ]:
dfs = {
    'df_1': df_1,
    'df_2': df_2,
    'df_3': df_3,
    'df_4': df_4,
    'df_5': df_5,
    'df_6': df_6,
    'df_7': df_7,
    'df_8': df_8,
    'df_9': df_9,
    'df_10': df_10,
    'df_11': df_11,
    'df_12': df_12,
}

for name, df in dfs.items():
    print(f"The shape of {name} is {df.shape}")

In [ ]:
df_1 = df_1.drop(columns = ['ride_id'])
df_2 = df_2.drop(columns = ['ride_id'])
df_3 = df_3.drop(columns = ['ride_id'])
df_4 = df_4.drop(columns = ['ride_id'])
df_5 = df_5.drop(columns = ['ride_id'])
df_6 = df_6.drop(columns = ['ride_id'])
df_7 = df_7.drop(columns = ['ride_id'])
df_8 = df_8.drop(columns = ['ride_id'])
df_9 = df_9.drop(columns = ['ride_id'])
df_10 = df_10.drop(columns = ['ride_id'])
df_11 = df_11.drop(columns = ['ride_id'])
df_12 = df_12.drop(columns = ['ride_id'])

In [7]:
df_list = [df_1, df_2, df_3, df_4, df_5, df_6, df_7, df_8, df_9, df_10, df_11, df_12]

In [8]:
df = pd.concat(df_list, axis = 0)

In [ ]:
df

In [9]:
df.sort_values(by='started_at', ascending=True, inplace = True)

In [10]:
df = df.reset_index()

In [ ]:
df

In [ ]:
df.isna().sum()

In [ ]:
df.dtypes

In [11]:
df['started_at'] = pd.to_datetime(df['started_at'])

In [12]:
df['ended_at'] = pd.to_datetime(df['ended_at'])

In [ ]:
df.dtypes

In [13]:
df.drop(columns = ['index'], inplace = True)

In [ ]:
df

In [14]:
df['started_at_day'] = df['started_at'].dt.day_name()
df['started_at_month'] = df['started_at'].dt.month_name()
df['started_at_hour'] = df['started_at'].dt.hour

In [ ]:
df

In [15]:
df_filtered = df[df['ended_at'] >= df['started_at']]

In [16]:
df_filtered.reset_index(inplace = True)

In [17]:
df_filtered.drop(columns = ['index'], inplace = True)
df_filtered

C:\Users\ramya\AppData\Local\Temp\ipykernel_7232\353398977.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered.drop(columns = ['index'], inplace = True)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,started_at_day,started_at_month,started_at_hour
0,53F0F248F28485D2,electric_bike,2023-01-01 00:01:58,2023-01-01 00:02:41,NaN,NaN,NaN,NaN,41.800000,-87.590000,41.800000,-87.590000,casual,Sunday,January,0
1,D8EEE72183269F07,classic_bike,2023-01-01 00:02:06,2023-01-01 00:29:46,Fairbanks Ct & Grand Ave,TA1305000003,New St & Illinois St,TA1306000013,41.891847,-87.620580,41.890847,-87.618617,member,Sunday,January,0
2,E5AD797A579842F8,electric_bike,2023-01-01 00:03:26,2023-01-01 00:07:23,Sheridan Rd & Loyola Ave,RP-009,Sheridan Rd & Loyola Ave,RP-009,42.001139,-87.661256,42.001044,-87.661198,casual,Sunday,January,0
3,8FBD2AD70B0F6A6F,classic_bike,2023-01-01 00:04:07,2023-01-01 00:13:56,Leavitt St & Lawrence Ave,TA1309000015,Broadway & Argyle St,13108,41.968885,-87.684001,41.973815,-87.659660,casual,Sunday,January,0
4,B05BD052B9EBB767,electric_bike,2023-01-01 00:04:27,2023-01-01 00:16:52,Clark St & Montrose Ave,KA1503000022,Clark St & Montrose Ave,KA1503000022,41.961545,-87.666189,41.961588,-87.666036,member,Sunday,January,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5719600,6FB217B8B8152D9B,electric_bike,2023-12-31 23:55:28,2024-01-01 00:24:15,McClurg Ct & Ohio St,TA1306000029,Fairbanks Ct & Grand Ave,TA1305000003,41.892036,-87.616815,41.891847,-87.620580,member,Sunday,December,23
5719601,8AD57B777CDD8F65,electric_bike,2023-12-31 23:56:28,2024-01-01 00:00:43,Michigan Ave & Lake St,TA1305000011,NaN,NaN,41.886146,-87.624730,41.890000,-87.620000,casual,Sunday,December,23
5719602,0E2173686F7778E5,electric_bike,2023-12-31 23:57:01,2023-12-31 23:59:26,Michigan Ave & Lake St,TA1305000011,NaN,NaN,41.886145,-87.624771,41.890000,-87.620000,member,Sunday,December,23
5719603,E3ADFD6C7743E816,electric_bike,2023-12-31 23:58:55,2024-01-01 00:06:08,Wolcott (Ravenswood) Ave & Montrose Ave,TA1307000144,Sheridan Rd & Montrose Ave,TA1307000107,41.961456,-87.676323,41.961670,-87.654640,casual,Sunday,December,23
5719604,BBD15A044CC0CFCB,electric_bike,2023-12-31 23:59:38,2024-01-01 00:00:16,NaN,NaN,NaN,NaN,41.890000,-87.620000,41.890000,-87.620000,member,Sunday,December,23

In [ ]:
################################

In [18]:
df_filtered['month'] = df_filtered['started_at'].dt.to_period('M')

C:\Users\ramya\AppData\Local\Temp\ipykernel_7232\1661623090.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered['month'] = df_filtered['started_at'].dt.to_period('M')

In [19]:
monthly_rides = df_filtered.groupby('month').size()

In [20]:
monthly_rides_df_2023 = monthly_rides.to_frame(name='ride_count').reset_index()
monthly_rides_df_2023['month'] = monthly_rides_df_2023['month'].dt.to_timestamp()
monthly_rides_df_2023.set_index('month', inplace=True)

In [ ]:
print(monthly_rides_df_2023)

In [ ]:
#monthly_rides_df_2023.to_csv("monthly_rides_df_2023.csv")

In [ ]:
################################

In [21]:
df_filtered['ride_time'] = df_filtered['ended_at'] - df_filtered['started_at']

C:\Users\ramya\AppData\Local\Temp\ipykernel_7232\1389217222.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered['ride_time'] = df_filtered['ended_at'] - df_filtered['started_at']

In [ ]:
df_filtered

In [ ]:
df_filtered['end_station_name'].value_counts().head(60)

In [ ]:
df_filtered['start_station_name'].value_counts().head(60)

In [ ]:
df_filtered['started_at_day'].value_counts()

In [ ]:
df_filtered['started_at_month'].value_counts()

In [ ]:
df_filtered['started_at_hour'].value_counts()

In [ ]:
df_filtered['rideable_type'].value_counts()

In [ ]:
df_filtered['member_casual'].value_counts()

In [ ]:
df_filtered.groupby('member_casual')['ride_time'].mean()

In [ ]:
df_filtered.groupby(['started_at_hour', 'member_casual'])[['member_casual']].count()

In [ ]:
df_filtered.groupby('started_at_hour')[['member_casual']].count()

In [22]:
df_mem_cas_star_stat = pd.DataFrame(df_filtered.groupby(['member_casual', 'start_station_name'])['start_station_name'].count())

In [ ]:
df_mem_cas_star_stat

In [23]:
df_mem_cas_end_stat = pd.DataFrame(df_filtered.groupby(['member_casual', 'end_station_name'])['end_station_name'].count())

In [ ]:
#df_filtered.to_csv('df_BC.csv', index=False)

In [ ]:
df_filtered

In [ ]:
df_filtered.dtypes

In [24]:
df_filtered['ride_time_1'] = pd.to_datetime(df_filtered['started_at'])

C:\Users\ramya\AppData\Local\Temp\ipykernel_7232\256039670.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered['ride_time_1'] = pd.to_datetime(df_filtered['started_at'])

In [ ]:
df_filtered

In [25]:
df_filtered['rides_in_minutes'] = df_filtered['ride_time'].dt.total_seconds() / 60

C:\Users\ramya\AppData\Local\Temp\ipykernel_7232\993581274.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered['rides_in_minutes'] = df_filtered['ride_time'].dt.total_seconds() / 60

In [ ]:
df_filtered

In [26]:
df_filtered['rides_in_minutes'] = np.ceil(df_filtered['ride_time'].dt.total_seconds() / 60)

C:\Users\ramya\AppData\Local\Temp\ipykernel_7232\2335986619.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered['rides_in_minutes'] = np.ceil(df_filtered['ride_time'].dt.total_seconds() / 60)

In [ ]:
df_filtered

In [ ]:
#df_filtered.to_csv('df_BC_1.csv', index=False)

In [30]:
url = "C:\\Users\\ramya\\Downloads\\chicago_weather_2023.csv"
weather_df = pd.read_csv(url)

In [31]:
weather_df

          Date\tMax\tMin\tAvg
0        1/1/2023\t45\t37\t41
1      1/2/2023\t43\t32\t37.5
2      1/3/2023\t48\t39\t43.5
3      1/4/2023\t44\t33\t38.5
4        1/5/2023\t34\t32\t33
..                        ...
360    12/27/2023\t42\t30\t36
361    12/28/2023\t42\t34\t38
362  12/29/2023\t40\t31\t35.5
363    12/30/2023\t37\t27\t32
364  12/31/2023\t36\t31\t33.5

[365 rows x 1 columns]

In [32]:
weather_df_mod = weather_df['Date\tMax\tMin\tAvg'].str.split('\t', expand=True)

# Rename columns
weather_df_mod.columns = ['Date', 'Max', 'Min', 'Avg']

print(weather_df_mod)

           Date Max Min   Avg
0      1/1/2023  45  37    41
1      1/2/2023  43  32  37.5
2      1/3/2023  48  39  43.5
3      1/4/2023  44  33  38.5
4      1/5/2023  34  32    33
..          ...  ..  ..   ...
360  12/27/2023  42  30    36
361  12/28/2023  42  34    38
362  12/29/2023  40  31  35.5
363  12/30/2023  37  27    32
364  12/31/2023  36  31  33.5

[365 rows x 4 columns]

In [33]:
weather_df_mod

           Date Max Min   Avg
0      1/1/2023  45  37    41
1      1/2/2023  43  32  37.5
2      1/3/2023  48  39  43.5
3      1/4/2023  44  33  38.5
4      1/5/2023  34  32    33
..          ...  ..  ..   ...
360  12/27/2023  42  30    36
361  12/28/2023  42  34    38
362  12/29/2023  40  31  35.5
363  12/30/2023  37  27    32
364  12/31/2023  36  31  33.5

[365 rows x 4 columns]

In [34]:
weather_df_mod.dtypes

Date    object
Max     object
Min     object
Avg     object
dtype: object

In [35]:
weather_df_mod['Date'] = pd.to_datetime(weather_df_mod['Date'])

In [36]:
weather_df_mod

          Date Max Min   Avg
0   2023-01-01  45  37    41
1   2023-01-02  43  32  37.5
2   2023-01-03  48  39  43.5
3   2023-01-04  44  33  38.5
4   2023-01-05  34  32    33
..         ...  ..  ..   ...
360 2023-12-27  42  30    36
361 2023-12-28  42  34    38
362 2023-12-29  40  31  35.5
363 2023-12-30  37  27    32
364 2023-12-31  36  31  33.5

[365 rows x 4 columns]

In [37]:
weather_df_mod.dtypes

Date    datetime64[ns]
Max             object
Min             object
Avg             object
dtype: object

In [38]:
df_filtered.dtypes

ride_id                        object
rideable_type                  object
started_at             datetime64[ns]
ended_at               datetime64[ns]
start_station_name             object
start_station_id               object
end_station_name               object
end_station_id                 object
start_lat                     float64
start_lng                     float64
end_lat                       float64
end_lng                       float64
member_casual                  object
started_at_day                 object
started_at_month               object
started_at_hour                 int64
month                       period[M]
ride_time             timedelta64[ns]
ride_time_1            datetime64[ns]
rides_in_minutes              float64
start_date             datetime64[ns]
dtype: object

In [39]:
df_filtered

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,...,end_lng,member_casual,started_at_day,started_at_month,started_at_hour,month,ride_time,ride_time_1,rides_in_minutes,start_date
0,53F0F248F28485D2,electric_bike,2023-01-01 00:01:58,2023-01-01 00:02:41,NaN,NaN,NaN,NaN,41.800000,-87.590000,...,-87.590000,casual,Sunday,January,0,2023-01,0 days 00:00:43,2023-01-01 00:01:58,1.0,2023-01-01
1,D8EEE72183269F07,classic_bike,2023-01-01 00:02:06,2023-01-01 00:29:46,Fairbanks Ct & Grand Ave,TA1305000003,New St & Illinois St,TA1306000013,41.891847,-87.620580,...,-87.618617,member,Sunday,January,0,2023-01,0 days 00:27:40,2023-01-01 00:02:06,28.0,2023-01-01
2,E5AD797A579842F8,electric_bike,2023-01-01 00:03:26,2023-01-01 00:07:23,Sheridan Rd & Loyola Ave,RP-009,Sheridan Rd & Loyola Ave,RP-009,42.001139,-87.661256,...,-87.661198,casual,Sunday,January,0,2023-01,0 days 00:03:57,2023-01-01 00:03:26,4.0,2023-01-01
3,8FBD2AD70B0F6A6F,classic_bike,2023-01-01 00:04:07,2023-01-01 00:13:56,Leavitt St & Lawrence Ave,TA1309000015,Broadway & Argyle St,13108,41.968885,-87.684001,...,-87.659660,casual,Sunday,January,0,2023-01,0 days 00:09:49,2023-01-01 00:04:07,10.0,2023-01-01
4,B05BD052B9EBB767,electric_bike,2023-01-01 00:04:27,2023-01-01 00:16:52,Clark St & Montrose Ave,KA1503000022,Clark St & Montrose Ave,KA1503000022,41.961545,-87.666189,...,-87.666036,member,Sunday,January,0,2023-01,0 days 00:12:25,2023-01-01 00:04:27,13.0,2023-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5719600,6FB217B8B8152D9B,electric_bike,2023-12-31 23:55:28,2024-01-01 00:24:15,McClurg Ct & Ohio St,TA1306000029,Fairbanks Ct & Grand Ave,TA1305000003,41.892036,-87.616815,...,-87.620580,member,Sunday,December,23,2023-12,0 days 00:28:47,2023-12-31 23:55:28,29.0,2023-12-31
5719601,8AD57B777CDD8F65,electric_bike,2023-12-31 23:56:28,2024-01-01 00:00:43,Michigan Ave & Lake St,TA1305000011,NaN,NaN,41.886146,-87.624730,...,-87.620000,casual,Sunday,December,23,2023-12,0 days 00:04:15,2023-12-31 23:56:28,5.0,2023-12-31
5719602,0E2173686F7778E5,electric_bike,2023-12-31 23:57:01,2023-12-31 23:59:26,Michigan Ave & Lake St,TA1305000011,NaN,NaN,41.886145,-87.624771,...,-87.620000,member,Sunday,December,23,2023-12,0 days 00:02:25,2023-12-31 23:57:01,3.0,2023-12-31
5719603,E3ADFD6C7743E816,electric_bike,2023-12-31 23:58:55,2024-01-01 00:06:08,Wolcott (Ravenswood) Ave & Montrose Ave,TA1307000144,Sheridan Rd & Montrose Ave,TA1307000107,41.961456,-87.676323,...,-87.654640,casual,Sunday,December,23,2023-12,0 days 00:07:13,2023-12-31 23:58:55,8.0,2023-12-31
5719604,BBD15A044CC0CFCB,electric_bike,2023-12-31 23:59:38,2024-01-01 00:00:16,NaN,NaN,NaN,NaN,41.890000,-87.620000,...,-87.620000,member,Sunday,December,23,2023-12,0 days 00:00:38,2023-12-31 23:59:38,1.0,2023-12-31

In [27]:
df_filtered['start_date'] = pd.to_datetime(df_filtered['started_at']).dt.date

C:\Users\ramya\AppData\Local\Temp\ipykernel_7232\2770191340.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered['start_date'] = pd.to_datetime(df_filtered['started_at']).dt.date

In [ ]:
df_filtered

In [28]:
df_filtered['start_date'] = pd.to_datetime(df_filtered['start_date'])

C:\Users\ramya\AppData\Local\Temp\ipykernel_7232\1770371725.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered['start_date'] = pd.to_datetime(df_filtered['start_date'])

In [ ]:
df_filtered.dtypes

In [40]:
final_df = df_filtered.merge(weather_df_mod, left_on = "start_date", right_on = "Date", how = "inner")

In [45]:
final_df.dtypes

ride_id                        object
rideable_type                  object
started_at             datetime64[ns]
ended_at               datetime64[ns]
start_station_name             object
start_station_id               object
end_station_name               object
end_station_id                 object
start_lat                     float64
start_lng                     float64
end_lat                       float64
end_lng                       float64
member_casual                  object
started_at_day                 object
started_at_month               object
started_at_hour                 int64
month                       period[M]
ride_time             timedelta64[ns]
ride_time_1            datetime64[ns]
rides_in_minutes              float64
start_date             datetime64[ns]
Date                   datetime64[ns]
Max                            object
Min                            object
Avg                            object
dtype: object

In [41]:
final_df.describe()

,start_lat,start_lng,end_lat,end_lng,started_at_hour,ride_time,rides_in_minutes
count,5.719605e+06,5.719605e+06,5.712615e+06,5.712615e+06,5.719605e+06,5719605,5.719605e+06
mean,4.190289e+01,-8.764704e+01,4.190322e+01,-8.764720e+01,1.409410e+01,0 days 00:18:11.149510499,1.868491e+01
std,4.505514e-02,2.733408e-02,5.444373e-02,6.919759e-02,4.941622e+00,0 days 03:00:12.826995364,1.802114e+02
min,4.163000e+01,-8.794000e+01,0.000000e+00,-8.816000e+01,0.000000e+00,0 days 00:00:00,0.000000e+00
25%,4.188096e+01,-8.766000e+01,4.188103e+01,-8.766027e+01,1.100000e+01,0 days 00:05:25,6.000000e+00
50%,4.189902e+01,-8.764403e+01,4.190000e+01,-8.764410e+01,1.500000e+01,0 days 00:09:32,1.000000e+01
75%,4.193000e+01,-8.762991e+01,4.193000e+01,-8.763000e+01,1.800000e+01,0 days 00:16:55,1.700000e+01
max,4.207000e+01,-8.746000e+01,4.218000e+01,0.000000e+00,2.300000e+01,68 days 09:29:04,9.849000e+04

In [43]:
final_df_cas = final_df[final_df['member_casual'] == 'casual']

In [44]:
final_df_cas.describe()

,start_lat,start_lng,end_lat,end_lng,started_at_hour,ride_time,rides_in_minutes
count,2.059037e+06,2.059037e+06,2.053165e+06,2.053165e+06,2.059037e+06,2059037,2.059037e+06
mean,4.190418e+01,-8.764631e+01,4.190466e+01,-8.764656e+01,1.439684e+01,0 days 00:28:14.895033454,2.874630e+01
std,4.562758e-02,2.962338e-02,6.164070e-02,9.150816e-02,4.999001e+00,0 days 04:56:41.229205084,2.966843e+02
min,4.164000e+01,-8.792000e+01,0.000000e+00,-8.816000e+01,0.000000e+00,0 days 00:00:00,0.000000e+00
25%,4.188137e+01,-8.766000e+01,4.188213e+01,-8.766000e+01,1.100000e+01,0 days 00:06:37,7.000000e+00
50%,4.190000e+01,-8.764117e+01,4.190096e+01,-8.764119e+01,1.500000e+01,0 days 00:11:51,1.200000e+01
75%,4.193125e+01,-8.762676e+01,4.193132e+01,-8.762680e+01,1.800000e+01,0 days 00:22:10,2.300000e+01
max,4.207000e+01,-8.752000e+01,4.218000e+01,0.000000e+00,2.300000e+01,68 days 09:29:04,9.849000e+04

In [53]:
final_df_cas[final_df_cas['rides_in_minutes'] >= 30]

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,...,started_at_hour,month,ride_time,ride_time_1,rides_in_minutes,start_date,Date,Max,Min,Avg
14,B862A548BC1B6470,electric_bike,2023-01-01 00:11:00,2023-01-01 00:42:27,North Ave & New England Ave,310,NaN,NaN,41.910000,-87.800000,...,0,2023-01,0 days 00:31:27,2023-01-01 00:11:00,32.0,2023-01-01,2023-01-01,45,37,41
56,454214BA380A6E60,docked_bike,2023-01-01 00:23:36,2023-01-11 06:36:39,LaSalle St & Washington St,13006,NaN,NaN,41.882664,-87.632530,...,0,2023-01,10 days 06:13:03,2023-01-01 00:23:36,14774.0,2023-01-01,2023-01-01,45,37,41
58,50CFE5A0618D9F86,electric_bike,2023-01-01 00:23:49,2023-01-01 00:55:02,Streeter Dr & Grand Ave,13022,Canal St & Madison St,13341,41.892181,-87.611778,...,0,2023-01,0 days 00:31:13,2023-01-01 00:23:49,32.0,2023-01-01,2023-01-01,45,37,41
59,8DA2A86022766D7C,electric_bike,2023-01-01 00:23:53,2023-01-01 01:10:01,Streeter Dr & Grand Ave,13022,Shore Dr & 55th St,TA1308000009,41.892253,-87.611930,...,0,2023-01,0 days 00:46:08,2023-01-01 00:23:53,47.0,2023-01-01,2023-01-01,45,37,41
61,98F7647A5AD484DC,docked_bike,2023-01-01 00:24:09,2023-01-11 06:36:36,LaSalle St & Washington St,13006,NaN,NaN,41.882664,-87.632530,...,0,2023-01,10 days 06:12:27,2023-01-01 00:24:09,14773.0,2023-01-01,2023-01-01,45,37,41
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5719582,32D2D2DD2D4FC59B,classic_bike,2023-12-31 23:47:13,2024-01-01 00:24:47,Daley Center Plaza,TA1306000010,Michigan Ave & Lake St,TA1305000011,41.884241,-87.629634,...,23,2023-12,0 days 00:37:34,2023-12-31 23:47:13,38.0,2023-12-31,2023-12-31,36,31,33.5
5719583,6522C239F1DB5962,electric_bike,2023-12-31 23:47:19,2024-01-01 00:38:05,NaN,NaN,Streeter Dr & Grand Ave,13022,41.890000,-87.610000,...,23,2023-12,0 days 00:50:46,2023-12-31 23:47:19,51.0,2023-12-31,2023-12-31,36,31,33.5
5719584,F7F941C434A9B292,electric_bike,2023-12-31 23:47:37,2024-01-01 00:19:01,Streeter Dr & Grand Ave,13022,Dearborn St & Monroe St,TA1305000006,41.892329,-87.612111,...,23,2023-12,0 days 00:31:24,2023-12-31 23:47:37,32.0,2023-12-31,2023-12-31,36,31,33.5
5719592,410CA25E4A4E09F3,electric_bike,2023-12-31 23:51:54,2024-01-01 00:27:02,Clark St & Lake St,KA1503000012,Wabash Ave & Wacker Pl,TA1307000131,41.885994,-87.631330,...,23,2023-12,0 days 00:35:08,2023-12-31 23:51:54,36.0,2023-12-31,2023-12-31,36,31,33.5
5719596,37B630E2462E2C02,electric_bike,2023-12-31 23:53:00,2024-01-01 00:27:12,Clark St & Lake St,KA1503000012,Wabash Ave & Wacker Pl,TA1307000131,41.885678,-87.631170,...,23,2023-12,0 days 00:34:12,2023-12-31 23:53:00,35.0,2023-12-31,2023-12-31,36,31,33.5

In [ ]:
final_df

In [ ]:
final_df.drop(columns = ['Max','Min'], inplace = True)

In [ ]:
final_df.rename(columns={"Avg":"avg_temp"}, inplace=True)

In [ ]:
final_df

In [ ]:
final_df.drop(columns = ['Date'], inplace = True)

In [ ]:
final_df

In [ ]:
#final_df.to_csv('final_df.csv', index=False)

In [ ]:
num_rides_weather = final_df.groupby(["start_date","avg_temp"])['started_at'].count()

In [ ]:
num_rides_weather

In [ ]:
num_rides_weather = pd.DataFrame(num_rides_weather).reset_index()

In [ ]:
num_rides_weather

In [ ]:
#num_rides_weather.to_csv("num_rides_weather.csv", index = False)

In [ ]:
final_df["start_end"] = final_df["start_station_name"] + " / " + final_df["end_station_name"]

In [ ]:
final_df

# After talking with Alex

In [ ]:
route_usage = final_df.groupby(['start_end', 'started_at_day']).size().reset_index(name='ride_count')

most_used_routes = route_usage.loc[route_usage.groupby('started_at_day')['ride_count'].idxmax()]

In [ ]:
most_used_routes

In [ ]:
route_usage = final_df.groupby(['start_end', 'started_at_day']).size().reset_index(name='ride_count')

In [ ]:
route_usage = route_usage.sort_values(by=['started_at_day', 'ride_count'], ascending=[True, False])

In [ ]:
top_10_routes_per_day = route_usage.groupby('started_at_day').head(10).reset_index(drop=True)

In [ ]:
top_10_routes_per_day.head(60)

In [ ]:
#top_10_routes_per_day.to_csv("top_10_routes_per_day.csv")

In [ ]:
##########

In [ ]:
grouped = final_df.groupby(['started_at_day', 'start_end', 'member_casual']).size().reset_index(name='ride_count')

# Pivot the data to have separate columns for member and casual ride counts
pivoted = grouped.pivot_table(index=['started_at_day', 'start_end'], columns='member_casual', values='ride_count', fill_value=0).reset_index()

# Add a column for the total ride counts
pivoted['total_rides'] = pivoted['member'] + pivoted['casual']

# Rank the routes based on the total ride counts within each day
pivoted['rank'] = pivoted.groupby('started_at_day')['total_rides'].rank(method='first', ascending=False)

# Filter to get the top 10 routes for each day
top_10_routes_per_day = pivoted[pivoted['rank'] <= 10]

# Sort the results for better readability
top_10_routes_per_day = pd.DataFrame(top_10_routes_per_day.sort_values(by=['started_at_day', 'rank']))

top_10_routes_per_day

In [ ]:
top_10_routes_per_day.head(60)

In [ ]:
final_df_filtered = final_df[final_df['rides_in_minutes'] > 1]

In [ ]:
final_df_filtered

In [ ]:
grouped_1 = final_df_filtered.groupby(['started_at_day', 'start_end', 'member_casual']).size().reset_index(name='ride_count')

# Pivot the data to have separate columns for member and casual ride counts
pivoted = grouped_1.pivot_table(index=['started_at_day', 'start_end'], columns='member_casual', values='ride_count', fill_value=0).reset_index()

# Add a column for the total ride counts
pivoted['total_rides'] = pivoted['member'] + pivoted['casual']

# Rank the routes based on the total ride counts within each day
pivoted['rank'] = pivoted.groupby('started_at_day')['total_rides'].rank(method='first', ascending=False)

# Filter to get the top 10 routes for each day
top_10_routes_per_day = pivoted[pivoted['rank'] <= 10]

# Sort the results for better readability
top_10_routes_per_day = pd.DataFrame(top_10_routes_per_day.sort_values(by=['started_at_day', 'rank']))

top_10_routes_per_day

In [ ]:
grouped = final_df.groupby(['started_at_day', 'start_end', 'member_casual']).agg(
    ride_count=('rides_in_minutes', 'size'),
    average_time=('rides_in_minutes', 'mean')
).unstack(fill_value=0).reset_index()

# Flatten the MultiIndex columns
grouped.columns = ['_'.join(col).strip() for col in grouped.columns.values]
grouped.rename(columns={
    'started_at_day_': 'started_at_day',
    'start_end_': 'start_end'
}, inplace=True)

# Calculate total rides for each route
grouped['total_rides'] = grouped['ride_count_casual'] + grouped['ride_count_member']

# For each day, get the top 10 routes by total_rides
top_routes_per_day = grouped.sort_values(['started_at_day', 'total_rides'], ascending=[True, False])
top_routes_per_day = top_routes_per_day.groupby('started_at_day').head(10)

# Display the result
top_routes_per_day

In [ ]:
top_routes_per_day.head(60)

In [ ]:
top_routes_per_day.to_csv("top_routes_per_day_mem_cas_avg_time.csv")

In [ ]:
#################

In [ ]:
grouped_2 = final_df_filtered.groupby(['started_at_day', 'start_station_name', 'member_casual']).agg(
    ride_count=('rides_in_minutes', 'size'),
    average_time=('rides_in_minutes', 'mean')
).unstack(fill_value=0).reset_index()

# Flatten the MultiIndex columns
grouped_2.columns = ['_'.join(col).strip() for col in grouped_2.columns.values]
grouped_2.rename(columns={
    'started_at_day_': 'started_at_day',
    'start_end_': 'start_end'
}, inplace=True)

# Calculate total rides for each route
grouped_2['total_rides'] = grouped_2['ride_count_casual'] + grouped_2['ride_count_member']

# For each day, get the top 10 routes by total_rides
top_routes_per_day_start = grouped_2.sort_values(['started_at_day', 'total_rides'], ascending=[True, False])
top_routes_per_day_start = top_routes_per_day_start.groupby('started_at_day').head(10)

# Display the result
top_routes_per_day_start

In [ ]:
top_routes_per_day_start.head(60)

In [ ]:
top_routes_per_day_start.to_csv("top_routes_per_day_start.csv")

# Taking a subset of the data for Tableau Maping

In [ ]:
subset_df = final_df_filtered.sample(frac=0.2, random_state=42)

In [ ]:
subset_df.to_csv("subset_df.csv")

In [ ]:
subset_df_10 = final_df_filtered.sample(frac = 0.1, random_state=0)

In [ ]:
subset_df_10.to_csv("subset_df_10.csv")

# Mapping the dates into Seasons

In [ ]:
if final_df_filtered["start_date"] >= datetime(2023, 12, 21) or final_df_filtered["start_date"] <= datetime(2023, 3, 20):
     "Winter"
elif datetime(2023, 3, 21) <= final_df_filtered["start_date"] <= datetime(2023, 6, 20):
    "Spring"
elif datetime(2023, 6, 21) <= final_df_filtered["start_date"] <= datetime(2023, 9, 20):
    "Summer"
elif datetime(2023, 9, 21) <= final_df_filtered["start_date"] <= datetime(2023, 12, 20):
    "Fall"
else:
    None

In [ ]:
def get_season(date):
    if date >= datetime(date.year, 12, 21) or date <= datetime(date.year, 3, 20):
        return "Winter"
    elif datetime(date.year, 3, 21) <= date <= datetime(date.year, 6, 20):
        return "Spring"
    elif datetime(date.year, 6, 21) <= date <= datetime(date.year, 9, 20):
        return "Summer"
    elif datetime(date.year, 9, 21) <= date <= datetime(date.year, 12, 20):
        return "Fall"
    return None

# Apply the function to the 'start_date' column and create a new 'season' column
final_df_filtered['season'] = final_df_filtered['start_date'].apply(get_season)

In [ ]:
final_df_filtered

In [ ]:
#final_df_filtered.to_csv("final_df_filtered.csv")

In [ ]:
final_df_filtered['start_station_name'].value_counts()